@import '../variables';

.Header {
  border-bottom: 1px solid $color-border;
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
  height: 60px;
  margin-bottom: 14px;
}

.HeaderNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  height: inherit;
}

.HeaderNavLogo,
.HeaderNavCart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.HeaderNavLogo:hover,
.HeaderNavCart:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.95);
}
.HeaderNavLogoActive,
.HeaderNavCartActive {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
  font-weight: 400;
  box-shadow: none;
  position: relative;
}
.HeaderNavLogoActive::after,
.HeaderNavCartActive::after {
  content: '';
  top: 100%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  background: 0 0;
  margin: 0.5px 0 0;
  width: 10px;
  height: 10px;
  border: 1px solid #d4d4d5;
  border-top: none;
  border-left: none;
  z-index: 2;
  transition: background 0.1s ease;
  background-color: #f2f2f2;
}

.HeaderNavLogo span,
.HeaderNavCart span {
  margin-left: 7px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .HeaderNav {
    max-width: 700px;
  }
}
