body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  background: #fff;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  margin: 1rem auto 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
